<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex,nofollow">
  <title>ToDoリスト試作</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <div id="app">
      <div class="titleArea">
        <h1>ToDoリスト</h1>
      </div>
      <form class="formArea" @submit.prevent="addTask">
        <div class="formText"><input type="text" ref="comment" v-model="newTask" placeholder="新しいタスクを入力" required/><div class="svg_list"></div></div>
        <div class="formDate"><input type="date" v-model="dueDate" required /></div>
        <button type="submit" class="submitBtn">追加</button>
      </form>

      <h2>タスク一覧</h2>
      <table>
        <thead>
          <tr>
            <th class="check">チェック</th>
            <th class="date">期日</th>
            <th class="comment">タスク</th>
            <th class="state forPc">状態</th>
            <th class="button">削除</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in todos" :key="item.id">
            <td class="center"><input type="checkbox" name="checkbox" class="checkbox" v-model="item.isDone"></td>
            <td class="center taskDue">{{ formatDate(item.due) }}</td>
            <td :class="{ done: item.isDone }">{{ item.comment }}</td>
            <td class="center forPc">
              <button
                @click="doChangeState(item)"
                :class="['taskBtn', `state-${item.state}`]">
                {{ labels[item.state] }}
              </button>
            </td>
            <td class="center"><button class="deleteBtn" @click="doRemove(item)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
